@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

.container {
  @apply mx-auto max-w-6xl px-4;
}

a { @apply underline-offset-4; }

